.AddKeyButton {
  display: inline-block;
  width: 9%;
}
.AddKeyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--light-black);
  font-size: 18px;
}
