.CardContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: thin;
}
/* .CardContainer::-webkit-scrollbar{
    outline: 1px solid slategrey;
    background-color: white;
} */

/* width */
.CardContainer::-webkit-scrollbar {
  height: 6px;
}

/* Track */
.CardContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--clr-wb-400);
  border-radius: 10px;
}

/* Handle */
.CardContainer::-webkit-scrollbar-thumb {
  background: var(--clr-wb-400);
  border-radius: 10px;
}

/* Handle on hover */
.CardContainer::-webkit-scrollbar-thumb:hover {
  background: var(--clr-wb-500);
}

