.AddKeyForm {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20 !important;
}
.Form {
  top: 0;
  left: 0;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: var(--clr-wb-800);
  z-index: 100 !important;
}
.AddInput {
  display: block;
  background-color: transparent;
  width: 10em;
  padding: 0.25em;
  margin-bottom: 1em;
  font-size: 2rem;
  color: var(--clr-wb-400);
  border: 0;
  border-bottom: 1px solid var(--black-color);
}
.AddInput::placeholder {
  color: var(--clr-wb-500);
}
.AddInput:focus {
  outline: none;
}

.AddSource {
  display: block;
  margin: auto;
  background-color: var(--clr-blue-500);
  padding: 0.5em;
  color: var(--clr-wb-100);
  font-weight: 600;
  border: 0;
  border-radius: 0.2rem;
  font-size: 1.8rem;
}
.AddSource:hover {
  background-color: var(--clr-blue-700);
}
