.TorrentCard {
  margin: 1em 0;
  width:95%;
  background-color: var(--clr-wb-800);
  border: 0.8px solid var(--clr-wb-500);
  border-radius: 0.8rem;
  overflow: hidden;
}
.TorrentData {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.TorrentData > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0.8rem;
}

.TorrentData > div > div {
  margin-left: 1rem ;
}
.TitleRowTrusted {
  cursor: pointer;
  background-color: var(--clr-green-700);
}
.TitleRowTrusted:hover{
  background-color: var(--clr-green-500);
}
.TitleRow {
  cursor: pointer;
  color: var(--clr-blue-500);
  background-color: var(--clr-wb-500);
}
.TitleRow:hover{
  background-color: var(--clr-wb-450);
}

.Title {
  margin:0.8rem 0.2rem !important;
  justify-content: left !important;
  color: var(--clr-blue-500);
  flex-grow: 1;
  word-break: break-all;
}
.Downloads{
  white-space: nowrap;
}

.Size {
  white-space: nowrap;
  color: var(--clr-blue-500);
}
.InfoHash {
  color: var(--clr-wb-100);
}
/* .Image{
   height:px; 
} */
