.TorrentCard {
  margin: 10px;
  /* padding: 10px; */
  width: 90%;
  /* height: 200px; */
  background-color: var(--dark-grey);
  border: 1px solid var(--grey-border);
  border-radius: 0.8rem;
  font-size: 14px;
  overflow: hidden;
}
.TorrentData {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  /* border-radius: 0.4rem; */
}

.TorrentData > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.TorrentData > div > div {
  margin-left: 15px;
}
.TitleRowTrusted {
  cursor: pointer;
  background-color: var(--torrent-green);
}
.TitleRow {
  cursor: pointer;
  color: var(--blue-color);
  background-color: var(--light-grey);
}

.Title {
  justify-content: left !important;
  color: var(--blue-color);
  flex-grow: 1;
  word-break: break-all;
}

.Tip {
  visibility: hidden;
  /* width: 100px; */
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  top: -30px;
  right: -10px;
  z-index: 1;
}
.Seeds {
  margin-left: 45px !important;
  color: var(--seeds-color);
  position: relative;
}
.Leechers {
  color: var(--leechers-color);
  position: relative;
}

.Seeds:hover .Tip {
  visibility: visible;
}
.Leechers:hover .Tip {
  visibility: visible;
}
.Size {
  white-space: nowrap;
  color: var(--blue-color);
}
.InfoHash {
  color: var(--white-color);
}
/* .Image{
   height:px; 
} */
