.Backdrop{
    position: fixed;
    background-color: black;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    z-index:50;
    opacity: 0.7;
    /* filter: blur(100%); */
  -webkit-filter: blur(10px);
}