.Header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--white-color);
  z-index: 10;
}
.TopHeaderBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px;
  margin-right: 50px;
  /* border:1px solid white; */
}
