.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--clr-wb-800);
  z-index: 10;
  min-width: 350px;
}
.TopHeaderBar {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em 0.6em;
}
@media (max-width:450px) {
  .TopHeaderBar{
    padding:1em 1em 0.6em !important;
  }
  
}
