.Card {
  padding: 7px;
  border: 1px solid var(--light-black);
  background-color: var(--dark-grey);
  border-radius: 0.6rem;
  margin: 10px 5px;
  cursor: pointer;
  display: flex;
}
.Clicked {
  background-color: var(--light-black);
  box-shadow: 0 0 6px 0px var(--light-black);
}
.CardText {
  white-space: nowrap;
}
/*
.Delete {
  display: inline-block;
} */
